/* SearchingBar.css */

.searching-bar {
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    border: 2px solid #999; /* Dostosowany kolor szary (#999) */
    padding: 0 10px;
    font-family: Verdana, sans-serif;
  }
  
  input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-family: Verdana, sans-serif;
  }
  
  .clear-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    padding: 0 10px;
    margin-left: auto;
    color: #777; /* Dostosowany jaśniejszy szary kolor (#777) */
  }
  
  .clear-button:hover {
    text-decoration: underline;
  }
  