/* RegisterForm.css */
.register-form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 20px 30px;
    text-align: center;
    font-family: Verdana, sans-serif;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .register-label {
    font-weight: bold;
  }
  
  .register-input-group {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    font-family: Verdana, sans-serif;
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Dodaj obramowanie dla pól input */
    border-radius: 4px;
    margin-bottom: 10px; /* Dodaj odstęp między polami */
    font-family: Verdana, sans-serif;
  }
  
  .register-button {
    background-color: #a3d7e3;
    color: #f0f0f0;
    border: 2.5px solid #000;
    padding: 13px 30px;
    border-radius: 0;
    cursor: pointer;
    font-family: Verdana, sans-serif;
  }
  
  .register-button:hover {
    background-color: #78838f;
  }
  