/* Manufacturers.css */

/* Styl dla całego kontenera */
.manufacturer-list {
    display: flex; /* Użyj flexbox, aby wyrównać do lewej strony ekranu */
    text-align: left;
    flex-direction: column; /* Układ kolumnowy, elementy będą pod sobą */
    font-family: Verdana, sans-serif; /* Czcionka Verdana */
    margin-top: 20px;
    margin-left: 30px;
}

/* Styl dla pojedynczego elementu */
.manufacturer-item {
    margin-bottom: 20px; /* Większy odstęp na dole */
    display: block;
}
