/* CategoryList.css */

/* Styl dla całego kontenera */
.category-list {
    display: flex; /* Użyj flexbox, aby elementy były obok siebie */
    justify-content: space-around; /* Równomiernie rozdziel elementy, a także wyśrodkuj na środku kontenera */
    font-weight: bold; /* Pogrubiona czcionka */
    color: gray; /* Kolor szary */
    border-bottom: 1px solid #ccc; /* Linia na dole */
    padding: 10px 0; /* Trochę większy odstęp na górze i na dole */
}

/* Styl dla pojedynczej kategorii */
.category-name {
    text-decoration: none; /* Usunięcie podkreślenia */
    font-family: Verdana, sans-serif; /* Czcionka Verdana */
    transition: color 0.3s; /* Animacja zmiany koloru trwa 0.3 sekundy */
    color: gray;
}
.category-name:hover,

.category-name:focus {
    color: darkgray; /* Kolor ciemnoszary po najechaniu lub kliknięciu */
}
